 .login-options .social-icons li button {
        border-radius: 15px !important;
        -moz-border-radius: 15px !important;
        -webkit-border-radius: 15px !important;
    }

    .social-icons li .facebook {
        background: url(../Content/assets/global/img/social/facebook.png) no-repeat;
    }

    .social-icons li > button {
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        -ms-border-radius: 2px;
        -o-border-radius: 2px;
        border-radius: 2px;
        width: 28px;
        height: 28px;
        display: block;
        background-position: 0 0;
        background-repeat: no-repeat;
        transition: all .3s ease-in-out;
        -o-transition: all .3s ease-in-out;
        -ms-transition: all .3s ease-in-out;
        -moz-transition: all .3s ease-in-out;
        -webkit-transition: all .3s ease-in-out;
        border-style:none;
        outline-style: none;
    }

    .social-icon-color {
        opacity: .7;
        background-position: 0 -38px !important;
    }